<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="TeaShop.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.web>
     <authentication mode="Forms">
    <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH">
    </forms>
  </authentication>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <connectionStrings>
    <add
      name="local"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:/school/379/shoppingcart/New Folder/App_Data/scdatabase.accdb;Persist Security Info=False;"
      providerName="Microsoft.ACE.OLEDB.12.0"
    />
    <add 
      name="server" 
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|scdatabase.accdb;Persist Security Info=False;"
      providerName="Microsoft.ACE.OLEDB.12.0"
    />
    
  </connectionStrings>
</configuration>
