
#banner {
	left: 0px;
	top: 10px;
	min-width: 100%;
	background-color: #8FB995;
	//background-color: #65C372;

	height: 80px;
	position: absolute;
	border-bottom: 1px solid #149106;
	border-top: 1px solid #149106;
}


#banner img {
	position: absolute;
	height: 100px;
	top: -10px;
}

#banner #left-ham {
	left: 1%;
}

#banner #right-ham {
	right: 1%;
}

#banner .banner-text {
	display:block;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	font-family: "Open Sans Condensed";
	color: #DEDEDE;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-shadow: 2px 0px 2px #296007;
	z-index: 10000;
}

#banner-title{
	font-size: 3em;
	top: -18%;
}
#banner-welcome {
	font-size: 2em;
	top: 47%;
	left: 3%;

}

/*
@media screen and (min-width: 760px) {
    #nav-bar li {
		width: 100px;
		border-bottom: none;
		height: 40px;
		font-size: 1.0em;
    }

    #nav-bar li {
		display: inline-block;
    }
 }
*/
#nav-bar {
	list-style: none;
	background-color: #2A2F32;
	height: 40px;
	width: 100%;
	left: 0px;
	position: fixed;
	top: 100px;
	z-index: 997;
}

#nav-area {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#nav-bar li {
	list-style-type: none;
}

#nav-bar #main-nav {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: auto;
	display: inline-block;
}

#nav-bar #account-nav {
	text-align: center;
	padding: 0;
	margin: 0;
	float: right;
}

#nav-bar #main-nav li {
	font-size: 14px;
	line-height: 40px;
	width: 100px;
	height: 40px;
	display: inline-block;
	border-right: 1px solid #4D4D4D;
}

#nav-bar a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	height: 40px;
	background-color: #2A2F32;
}

#nav-bar a:hover {
	background-color: #4A4F52;
	color: #EEEEEE;
}

.first::first-letter {
    font-size: 110%;
}


#nav-bar #account-nav li {
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	width:40px;
	float: right;
	border-left: 1px solid #4D4D4D;
	position: relative;
}

#nav-bar #account-nav li #help_button {
	font-family: "Helvetica";
	font-size: 22px;
}

#nav-bar #account-nav li #cart_button img {
	margin-top: 15%;
}

#nav-bar #account-nav li #cart_button #cart_num {
	position: absolute;
	font-family: "Helvetica";
	font-size: 14px;
	left: 19px;
	bottom: 20%;
	color: #49FD12;
}

#account_button_img {
	height: 40px;
	width: 40px;
}

.header-menu {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	position: fixed;
  	top: 140px;
  	height: 0px;
  	display: block;
  	color: #000000;
  	background-color: #FFFFFF;

  	overflow: hidden;
}

#account_menu {
	right: 0px;
  	width: 250px;
  	z-index: 998;
}

#help_menu {
	right: 80px;
  	width: 125px;
  	z-index: 998;
}

.menu_header {
	margin: 15px;
}

.menu_header img{
	width: 100px;
	height: auto;
}

.menu_select {
	//list-style-type: none;
	padding: 0px;
	width:100%;
	margin-bottom:0px;
	margin-top:0px;

	float:left;
	left:0px;
}

.menu_select li {
	line-height: 45px;
	border-top: 1px solid #EAE9E9;
}

.menu_select li:hover {
	background-color: #EEEEEE;

}

.menu_select a {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	color: #000000;
}

.lower {
	text-transform: lowercase;
}

.upper {
	text-transform: uppercase;
}

/*


#nav-bar #account-nav li #cart_button {
	position: relative;
	width: 40px;
}
#nav-bar #account-nav li #cart_button img {
	margin-top: 15%;
}

#nav-bar #account-nav li #cart_button #cart_num {
	position: absolute;
	font-family: "Helvetica";
	font-size: 14px;
	left: 19px;
	bottom: 20%;
}


#banner span {
	position: absolute;
	left: 25%;
	top: 35%;
	font-size: 35px;
	color: black;
	font-weight: bold;
}

*/
